html, body {
	font-family: Open Sans;
	font-size: 18px;
	line-height: 28px;
	scroll-behavior: smooth;
}

.MainContainer{
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.ContentContainer{
	position: relative;
	display: block;
	background-color: white;
	z-index: 1
}

.Content{
	max-width: 750px;
	margin: 0 auto;
	padding: 75px 0;
}
h1{
    text-align: center;;
}
p{
	margin: 75px 0;
	text-indent: 20px;
	text-align: justify; 
}
.gambar{
	position: center;
	padding-left: 100px;
	height: 450px;
	width: 300px;
}
.ParallaxContainer{
	display: flex;
	flex: 1 0 auto;
	position: relative;
	z-index: -1px;
	height: 100vh;
	justify-content: center;
	align-items: center;
	transform: translateZ(-1px) scale(2);
	background: url(nissan-gt-r-by-liberty-walk-nissan-gt-r-by-liberty-walk-niss.jpg);
	background-color: rgb(250, 228, 216);
}
.ParrallaxContainer h1{
	letter-spacing: -15px;
	font-family: Open Sans;
	color: white;
	text-align: center;
	font-size: 200px;
	font-weight: 800;
	line-height: 200px;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');